<nav id="main_nav">
  <ul>
    <li><%= link_to "Home", root_path, { "data-ajax" => false } %></li>
<!--    <li><%= link_to "Voorwaarden", page_path("voorwaarden"), { "data-ajax" => false } %></li> -->
<!--    <li><%= link_to "Producten", products_path, { "data-ajax" => false } %></li> -->
    <li><%= link_to "Aanmelden", aanmelden_path, { "data-ajax" => false } %></li>
    <li><%= link_to "Contact", contact_path, { "data-ajax" => false } %></li>
  </ul>
</nav>