<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :product, "Product" %><br />
    <%= f.text_field :product, value: "product" %><br />
    <%= f.label :first_name, "Voornaam" %><br />
    <%= f.text_field :first_name, value: "Uw voornaam" %><br />
    <%= f.label :last_name, "Achternaam" %><br />
    <%= f.text_field :last_name, value: "Uw achternaam" %><br />
    <%= f.label :email, "Emailadres" %><br />
    <%= f.email_field :email, value: "Uw emailadres" %><br />
    Om zich in te kunnen schrijven, dient u akkoord te gaan met onze <%= link_to "voorwaarden", page_path("voorwaarden") %><br />
    <%= f.check_box :accept_conditions %>
        <%= f.label :accept_conditions, "Ik accepteer de voorwaarden" %><br />
    <%= f.submit "Aanmelden" %></p>
<% end %>
