<p>
  <b>Product:</b>
  <%= @subscription.product %>
</p>

<p>
  <b>First name:</b>
  <%= @subscription.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @subscription.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @subscription.email %>
</p>

<%= link_to 'Back', root_path %>
