<div class="nested-fields">
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :starttime %>
    <%= f.input :endtime %>
    <%= link_to_remove_association "remove event", f %>
  <% end %>
</div>
