<%= semantic_form_for [:admin, @product] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :location %>
    <%= f.input :teacher %>
    <%= f.input :active %>
    <%= f.input :price %>
    <%= f.input :position %>
    <h3>Events</h3>
    <div id="events">
      <%= f.semantic_fields_for :events do |event| %>
        <%= render 'event_fields', :f => event %>
      <% end %>
      <div class="links">
      <%= link_to_add_association 'add event', f, :events %>
    </div>
    </div>
    <%= f.actions do %>
      <%= f.action :submit %>
    <% end %>
  <% end %>
<% end %>
