<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @product.name %>
</p>

<p>
  <b>Omschrijving:</b>
  <%= @product.content %>
</p>

<p>
  <b>Locatie:</b>
  <%= @product.location %>
</p>

<p>
  <b>Docent:</b>
  <%= @product.teacher %>
</p>

<p>
  <b>Prijs:</b>
  <%= @product.price %>
</p>

<%= link_to 'Aanmelden', new_subscription_path(product: @product ) %>

<%= link_to 'Back', products_path %>
