<% present @product do |product_presenter| %>
<div id="profile">
  <%= content_tag(:h1, product_presenter.name) %>
  <%= product_presenter.description %>
  <%= product_presenter.price %>
  <%= product_presenter.location %>
  <%= product_presenter.teacher %>
  <%= product_presenter.events %>
</div>
<% end %>
<%= link_to 'Aanmelden', new_subscription_path(product: @product) %>
<%= link_to 'Back', products_path %>
