<% present @product do |product_presenter| %>
<div id="profile">
  <%= product_presenter.product_h1 %>
  <%= product_presenter.description %>
  <%= product_presenter.price %>
  <%= product_presenter.location %>
  <%= product_presenter.teacher %>
  <%= product_presenter.events %>
</div>
<%= link_to "Link naar de agenda", calendar_feed_path(protocol: "webcal", only_path: false, format: :ics) %>
<% end %>
<%= link_to 'Aanmelden', new_subscription_path(product_id: @product.id) %>
<%= link_to 'Back', products_path %>
