<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= render 'shared/title' %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags unless response.cache_control[:public] %>
  </head>
  <body id="horizon">
    <%= render 'layouts/header' %>
    <%= render 'shared/nav' %>
    <div id="main" class="clearfix">
      <%= render 'layouts/sidebar' %>
      <%= render 'shared/errors' unless response.cache_control[:public] %>
      <section id="content">
        <%= yield %>
      </section>
      <%= render 'layouts/right_sidebar' %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>