<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= render 'shared/title' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>
</head>
<body id="horizon">
  <%= render 'shared/header' %>
  <div id="main" class="cf">
    <section id="sidebar" class="column">
      <%= raw render 'shared/sidebar' if current_page?(url_for(:controller => 'pages', :action => 'show', :id => 'programma')) %>
    </section>
    <section id="content" class="column">
      <%= render 'shared/errors' unless response.cache_control[:public] %>
      <%= yield %>
      <%= switch_mobile_view %>
    </section>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag "application" %>
</body>
</html>
